html, body {
    overflow-x: hidden;
    width: 100vw;
}

.bg-custom {
    background-color: #00C2C2 !important;
}

.navbar-custom {
    background-color: #00C2C2 !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
    font-weight: bold;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
}
/* change the color of active or hovered links */
.nav-item.active .nav-link,
.nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(255,255,255,.8);
}

section {
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.head-section-stl {
    height: 100vh !important;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel6.jpg');
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headBox {
    position: absolute;
    top: 40%;
    color: #dddddd;
    width: 100%;
    text-align:center;
}

.headBox .headTitle {
    font-size: 55px;
    font-weight: bold;
}

.headBox .headSub {
    font-size: 25px;
}

.sectionTitle {
    font-size: 40px;
    font-weight: bold;
    color: #222222;
    margin-top: 50px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.sectionSubTitle {
    font-size: 20px;
    color: #222222;
    margin-top: 5px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

hr {
    border-color: #111111;
    border-width: 2px;
}

.card {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 15px;
}

.card-img-top {
    height: 180px;
    width: 250px;
}

.parallax {
    width: 100vw;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel8.jpg');
}

#parallax-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel9.jpg');
}

#parallax-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel10.jpg');
}

.bg-custom-card {
    background-color: #00C2C2 !important;
}

.custom-card-packages {
    height: 240px;
    /* width: 320px; */
    width: 95%;
    color: #eeeeee;
    margin: 15px;
}

.package-title-text {
    font-size: 25px;
    font-weight: bold;
}

.card-text-sub {
    font-style: italic;
}

.btn-custom-1 {
    background-color: #ec4f13  !important;
    color: #eeeeee !important;
    font-weight: bold !important;
}

.btn-custom-2 {
    background-color: #00C2C2  !important;
    color: #eeeeee !important;
    font-weight: bold !important;
}

#package-img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel7.jpg');
}

#package-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel8.jpg');
}

#package-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel1.jpg');
}

#package-img-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel2.jpg');
}

#package-img-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel3.jpg');
}

#package-img-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('./images/travel5.jpg');
}

.about-row {
    padding: 20px;
}

.about-row-img {
    height: 350px;
    width: 100%;
}

.contact-row {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-group {
    width: 80%;
    text-align: center;
}

.row-inner-sub-title {
    font-size: 20px;
    color: #222222;
    font-weight: bold;
}

footer {
    background-color: #00C2C2  !important;
    width: 100vw;
    height: 120px;
    text-align: center;
    padding-top: 40px;
    padding-bottom:20px;
    color: #eeeeee;
    font-size: 16px;
}

.toggle-icon-stl {
    color: #eeeeee;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(90deg);
}

